.Memo {
    width: 100%;

    .MemoCon {
        padding: 40px 85px;
        min-height: calc(100vh - 170px - 245px);
        transition: all .35s linear;

        .MainTitle {
            font-size: 36px;
            text-align: center;
        }

        .Title {
            margin-top: 20px;
            text-align: center;
            font-size: 24px;
        }

        p{
            margin-top: 20px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .Memo {
        .MemoCon {
            padding: 40px 20px;
        }
    }
}