$blue: #061E37;

.Menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-self: end;

    .MenuBtn {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            div {
                background-color: $blue;
            }
        }

        div {
            background-color: white;
            width: 100%;
            height: 5px;
            border-radius: 10px;
        }
    }

    .BlurHidden {
        position: absolute;
        top: 430px;
        left: -185%;
        backdrop-filter: blur(2px);
        width: 100vw;
        height: 500px;
        z-index: 1;
        transition: left .25s linear;
    }

    .BlurShown {
        backdrop-filter: blur(2px);
        width: 100%;
        position: absolute;
        top: 430px;
        left: 0;
        z-index: 1;
        transition: left .25s linear;
        cursor: auto;
    }

    .MenuItemsHidden {
        position: absolute;
        left: -185%;
        top: 170px;
        width: 100vw;
        background-image: url('../../../../media/subBG.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        transition: left .25s linear;

        a {
            text-align: center;
            width: 100%;
            padding: 20px 0;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: 600;
            transition: color .15s linear;

            &:nth-child(1) {
                border-top: solid 2px white;
            }

            &:nth-child(4) {
                border-bottom: solid 2px white;
            }
        }

        .Active {
            color: $blue;
        }
    }

    .MenuItemsShown {
        width: 100%;
        background-image: url('../../../../media/subBG.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        top: 170px;
        z-index: 1;
        transition: left .25s linear;

        a {
            text-align: center;
            width: 100%;
            padding: 20px 0;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: 600;
            transition: color .15s linear;

            &:hover {
                color: $blue;
            }

            &:nth-child(1) {
                border-top: solid 2px white;
            }

            &:nth-child(4) {
                border-bottom: solid 2px white;
            }
        }

        .Active {
            color: $blue;
        }
    }
}